<h2>Total Races Per Category </h2>

<div class="panel-body">
    <table class="table table-hover table-sm" datatable>
        <thead class="thead-light">
            <tr>
                <th>Race Name</th>
                <th>Total Revenues</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let revenueByRace of revenueByRaces ">
                <td>{{revenueByRace.raceName}}</td>
                <td>{{revenueByRace.totalRevenue}}</td>
            </tr>
        </tbody><br>
    </table>
</div>