<h2>Jockeys By Race Participated </h2>

<div class="panel-body">
    <table class="table table-hover table-sm" datatable>
        <thead class="thead-light">
            <tr>
                <th>Category</th>
                <th>Total Races</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jockey of jockeysByRaceParticipated ">
                <td>{{jockey.jockey}}</td>
                <td>{{jockey.raceParticipated}}</td>
            </tr>
        </tbody><br>
    </table>
</div>