<h2>Category Wise Handicap </h2>

<div class="panel-body">
    <table class="table table-hover table-sm" datatable>
        <thead class="thead-light">
            <tr>
                <th>Category</th>
                <th>Total Races</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let catWiseHandicap of catWiseHandicaps ">
                <td>{{catWiseHandicap.category}}</td>
                <td>{{catWiseHandicap.averageHandiCapRating}}</td>
            </tr>
        </tbody><br>
    </table>
</div>