<h2>Horse Category By Weights </h2>

<div class="panel-body">
    <table class="table table-hover table-sm" datatable>
        <thead class="thead-light">
            <tr>
                <th>Category</th>
                <th>Weights Sold</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let horsecatByWeight of horsesCategoryByWeights ">
                <td>{{horsecatByWeight.category}}</td>
                <td>{{horsecatByWeight.avgWeight}}</td>
            </tr>
        </tbody><br>
    </table>
</div>