 <div  class="container-fluid">
<!--  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  -->
<!--      <ul class="navbar-nav">  -->
<!--        <li class="nav-item ">  -->
<!--          <a routerLink="activity-stream-mobile" class="nav-link" class="btn btn-primary active" role="button" >Home</a>  -->
<!--        </li>  -->
<!--        <li class="nav-item ">  -->
<!--          <a routerLink="activity-stream-mobile" class="nav-link" class="btn btn-primary active" role="button" >Mobile Calls</a>  -->
<!--        </li>  -->
<!--        <li class="nav-item ">  -->
<!--          <a routerLink="app-as-login-logout-list" class="nav-link" class="btn btn-primary active" role="button" >Login Logout</a>  -->
<!--        </li>  -->
<!--        <li class="nav-item ">  -->
<!--          <a routerLink="as-login-pw-reset-list" class="nav-link" class="btn btn-primary active" role="button" >Password Reset</a>  -->
<!--        </li>  -->
<!--        <li class="nav-item ">  -->
<!--          <a routerLink="as-group-by-ra" class="nav-link" class="btn btn-primary active" role="button" >By Remote Address</a>  -->
<!--        </li>    -->
<!--        <li class="nav-item ">  -->
<!--          <a routerLink="as-users-list" class="nav-link" class="btn btn-primary active" role="button" >By Users</a>  -->
<!--        </li> -->
<!--        <li class="nav-item ">  -->
<!--          <a routerLink="activity-stream-mobile" class="nav-link" class="btn btn-primary active" role="button" >About</a>  -->
<!--        </li>         -->
<!--      </ul>  -->
<!--    </nav>     -->
      <router-outlet></router-outlet>
  </div>

