<h2>Total Races Per Category </h2>

<div class="panel-body">
    <table class="table table-hover table-sm" datatable>
        <thead class="thead-light">
            <tr>
                <th>Category</th>
                <th>Total Races</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let totalRace of totalracesPerCategory ">
                <td>{{totalRace.category}}</td>
                <td>{{totalRace.totalRaces}}</td>
            </tr>
        </tbody><br>
    </table>
</div>