<h2>Monthly Revenue By Party Bookings </h2>

<div class="panel-body">
    <table class="table table-hover table-sm" datatable>
        <thead class="thead-light">
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Bookings</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of monthlyRevenueByPartiBookings ">
                <td>{{booking.year}}</td>
                <td>{{booking.month}}</td>
                <td>{{booking.totalRevenue}}</td>
            </tr>
        </tbody><br>
    </table>
</div>