<h2>Food And Drinks By Popularity </h2>

<div class="panel-body">
    <table class="table table-hover table-sm" datatable>
        <thead class="thead-light">
            <tr>
                <th>Item Name</th>
                <th>Quantity Sold</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let food_and_drink of foodAndDrinks ">
                <td>{{food_and_drink.itemName}}</td>
                <td>{{food_and_drink.totalQuantitySold}}</td>
            </tr>
        </tbody><br>
    </table>
</div>