<div class="container-fluid py-3">
    <h1>Angular Highcharts Total Races Per Category Bar Chart</h1>

    <div class="row mt-5">
        <div class="col-6">
            <div id="total-races-by-category-bar-chart"></div>
        </div>
        <div class="col-6">
            <div id="total-races-by-category-column-chart"></div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <div id="total-races-by-category-pie-chart"></div>
        </div>
        <div class="col-6">
            <div id="total-races-by-category-line-chart"></div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <div id="total-races-by-category-area-chart"></div>
        </div>
        <div class="col-6">
            <div id="total-races-by-category-scatter-chart"></div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-3">
            <div id="total-races-gauge-chart"></div>
        </div>
        <div class="col-3">
            <div id="total-races-gauge-chart-arabian"></div>
        </div>
        <div class="col-3">
            <div id="total-races-gauge-chart-warmblood"></div>
        </div>
        <div class="col-3">
            <div id="total-races-gauge-chart-drafthorse"></div>
        </div>
    </div>
</div>